<div class="beverage-calculator">
	<form>
		<label class="guests">
			Number of Guests
			<input 
				name="guests" 
				type="number" 
				required
				min="1" max="500"
			>
		</label>
		<label class="ratio">Men to Women Ratio
			<div class="range-label">
				<span style="float:left">All Men</span>
				<span>Mixed</span>
				<span style="float:right">All Women</span>
			</div>
			<input 
				class="ratio-slider"
				name='genderRatio'
				type="text" 
				data-slider="true"
				data-slider-range="0,100"
				data-slider-values="0,50,100"
				data-slider-snap="true"
				value="50"
			>
		</label>
		<label class="time-of-day">
			Time of Day
			<select name="time" required>
				<option value="">Select One</option>
				<option value="morn">Morning</option>
				<option value="eve">Afternoon/Evening</option>
			</select>
		</label>
		<div class="beverages">
			Beverage(s)
			<ul>
				<li><label>Regular Coffee<input name="regularCoffee" type="checkbox"></label></li>
				<li><label>Decaf Coffee<input name="decafCoffee" type="checkbox"></label></li>
				<li><label>Hot Tea<input name="hotTea" type="checkbox"></label></li>
				<li><label>Iced Tea<input name="icedTea" type="checkbox"></label></li>
			</ul>
		</div>
		<label class="cup-size">
			Cup Size
			<select name="cupSize" required>
				<option value="">Select One</option>
				<option value="6">6oz</option>
				<option value="12">12oz</option>
			</select>
		</label>
		<div class="addons">
			Addons (No Charge)
			<ul>
				<li>
					<label>
						Sugars
						<input name="addons[]" value="sugars" type="checkbox">
					</label>
				</li>
				<li>
					<label>
						Creamer
						<input name="addons[]" value="creamer" type="checkbox">
					</label>
				</li>
				<li>
					<label>
						Stir Sticks
						<input name="addons[]" value="stir-sticks" type="checkbox">
					</label>
				</li>
				<li>
					<label>
						Cups
						<input name="addons[]" value="cups" type="checkbox">
					</label>
				</li>
			</ul>
		</div>
		<label class="water">
			Hot Water (Gallons)<br>(any amount for $6.99)
			<input 
				name="water" 
				type="number" 
				min="1" max="500">
		</label>
		<label>
			Order Notes
			<textarea class="order-notes" name="notes"></textarea>
		</label>
		<button type="submit" class="js-calculate button">Calculate</button>
	</form>
</div>